<section class="todoapp">
  <header class="header">
    <h1>Todos</h1>
    <input  type="hidden"  #id=ngModel name="id" [(ngModel)]="newTodo.id" >
    <input class="new-todo" type="text" name="title" placeholder="What needs to be done?" autofocus="" #title=ngModel [(ngModel)]="newTodo.title" >
    <button type="button" (click)="addTodo()">Add</button>
  </header>
  <section class="main" *ngIf="todoList.length > 0">
    <ul class="todo-list">
      <li *ngFor="let todo of todoList; let i=index" [class.completed]="todo.completed">
        <div class="view">
          <input class="toggle" type="checkbox" (click)="toggleTodoCompletedStatus(todo)" [checked]="todo.completed">
          <label>{{todo.title}}</label>
          <button class="destroy" (click)="removeTodo(todo)">Delete</button>
        </div>
      </li>
    </ul>
  </section>
  <footer class="footer" *ngIf="todoList.length > 0">
    <span class="todo-count"><strong>{{todoList.length}}</strong> {{todoList.length == 1 ? 'item' : 'items'}} left</span>
  </footer>
</section>
